
$primary-colour: #31a34f;
$primary-colour2: #01c935;
$secondary-colour: #323647;
$secondary-colour2: #252833;
$secondary-colour-text: #f5f5f5;

$sidebar-width: 250px;
$header-height: 70px;

body {
    background-color: #888;
    font-family: nunito;

    ::selection {
        background-color: $primary-colour !important;
    }
}

.sidebar {
    display: block;
    position: fixed;
    min-height: 100%;
    width: $sidebar-width;
    overflow-y: auto;
    max-height: 100%;
    background-color: $secondary-colour;
    color: $secondary-colour-text;

    .sidebar-header {
        background-color: $secondary-colour2;
        color: $primary-colour2;
        padding: 25px;
        text-align: center;
    }

    .spinner-wrapper {
        .md-progress-spinner-circle {
            stroke: $primary-colour !important;
        }

        .loading-label {
            display: block;
        }
    }

    .sidebar-collapse {
        background-color: $secondary-colour2;
    }

    .sidebar-button-nolink, 
    .sidebar-button a {
        cursor: pointer;
        display: block;
        padding: 13px 25px;
        text-align: left;
        transition: background-color ease-in-out 0.1s;

        i, span {
            display: inline-block;
            vertical-align: middle;
            transition: color ease-in-out 0.1s;
        }

        span {
            color: $secondary-colour-text;
        }

        i {
            font-size: 1.2em;
            margin-right: 5px;
            color: $primary-colour;
        }

        &:hover {
            background-color: $primary-colour;

            i {
                color: $secondary-colour-text;
            }            
        }
    }
}

.header {
    position: fixed;
    height: $header-height;
    background-color: $secondary-colour;
    left: $sidebar-width;
    display: flex;
    width: 100%;
    align-items: center;

    .links {
        height: 100%;
        margin: 0 auto;
        padding-right: $sidebar-width;
        display: flex;

        a {
            display: flex;
            height: 100%;
            color: $secondary-colour-text;
            align-items: center;
            text-decoration: none;
            padding: 15px;            

            span {
                padding: 5px;
            }

            &:hover {
                background-color: $primary-colour;
                color: $secondary-colour-text;
            }
        }
    }
}

.body-content {
    margin-left: $sidebar-width;    
    padding-top: $header-height;
}



.collapse {
    overflow:hidden;
    transition:height 0.3s ease-in-out;
}

.home {
    background: linear-gradient(-90deg, #375c75, #345868, #2f5746, #275d51);
	background-size: 400% 400%;
    animation: gradient 15s ease infinite;  
    min-height: 100%;

    .home-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 1000px;
    
        .news-item {
            margin: 25px;
            padding: 25px;        
            background-color: $secondary-colour;
            color: $secondary-colour-text;
    
            .news-header {
                display: flex;
                margin-bottom: 5px;
    
                .news-title {
                    font-size: 1.5em;
                    color: $primary-colour2;
                }
    
                .news-date {
                    margin-left: auto;
                }
            }    
        }
    }
}


.home-title {
    text-align: center;
    padding-top: 55px;
    padding-bottom: 35px;

    .home-title-main {
        font-size: 3em;
        color: $secondary-colour-text;
        margin: 0px;
        padding: 25px;        
    }
    
    .home-title-sub {
        font-size: 2.5em;
        color: $primary-colour2;
        margin: 0;
        padding: 25px;
    }
}



@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



.articles {
    padding: 15px;
    max-width: 1000px;
    margin: auto;
    
    .article-header {
        padding: 25px;
        background-color: $secondary-colour;
        color: $secondary-colour-text !important; 
    }
    
    .article-list-item {
        text-decoration: none !important;
        color: $secondary-colour-text !important; 
        display: flex;
        margin: 15px auto;
        background-color: $secondary-colour;

        &:hover {
            background-color: $primary-colour;
        }
           
        * {
            flex: 1;
            margin: auto;
            padding: 15px;
        }
    }
}


html, body, #app, .body-content {
    min-height: 100% !important;
    height: 100%;
}


.article-wrapper {
    max-width: 1000px;
    margin: auto;
    padding: 15px;    

    .article-page {
        padding: 15px;
        background-color: $secondary-colour-text;
    }
}
